<div class="row" style="height: 100px;"></div>
<div class="row">
    <div class="container">
        <h1>מרזבי אלומיניום</h1>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 pullDown text-category">
            <p> מרזבי האלומיניום מיוצרים בבית הלקוח על ידי מכונה ללא חיבורים (גודל, חומר גלם, עיצוב וכולי).</p>
            <p>אלומיניום- כאן מדובר על מרזב העשויים מחומר קל משקל ונוח לעיצוב.</p>
            <p>אלו מיוצרים במפעל ומותקנים אצל הלקוח כיחידה אחת.</p>
            <p>מלבד קלות העיצוב, המשקל של האלומיניום ועצם זה שהם אינם מחלידים, ניתן להזמין מרזבים אלו בשלל צבעים,</p>
            <p> העלות שלהם נמוכה וההתאמה לצרכי הלקוח הינה מדויקת.</p>
        </div>
    </div>
</div>
<div class="row pullDown">
    <div class="container ">
        <slick-carousel ng-if="slides"
                        data-type="categories"
                        data-autoplay="true"
                        data-slides="4"
                        data-model="slides"
                        data-index="1">
        </slick-carousel>
        <!--<div class="col-md-3 col-xs-6 col-sm-4" ng-repeat="slide in slides track by $index" index="$index">-->
            <!--<img title="מרזבי אלומיניום" alt="מרזבי אלומיניום" class="img" ng-src="{{slide.image}}" style="max-width: 100%; height: auto;padding: 5px;border-radius: 5%">-->
        <!--</div>-->
    </div>
</div>
