<div class="row" style="height: 100px;"></div>
<div class="row">
    <slick-carousel ng-if="slides"
                    data-type="home"
                    data-autoplay="true"
                    data-slides="3"
                    data-model="slides"
                    data-index="3">
    </slick-carousel>

    <!--<div id="carousel" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">-->
    <!--<div uib-slide ng-repeat="slide in slides track by $index" index="$index">-->
    <!--<img title="מרזבים בשרון נחושת,אבץ,פחי תפר" alt="מרזבים בשרון נחושת,אבץ,פחי תפר" class="img-thumbnail" ng-src="{{slide.image}}" style="height: 550px;width: 1500px">-->
    <!--</div>-->
    <!--</div>-->
    <div style="height: 20px"></div>
    <div class="row" style="height: 300px;">
        <div class="container">
            <div class="text-home col-md-offset-0 col-md-4 col-xs-8 col-xs-offset-2">
                <h3>אבץ</h3>
                <p>ייחודם של מרזבים העשויים מאבץ ומאבץ מיושן, הינם במראה העדין והאציל משהו
                    המתווסף לעיצובו של המבנה.
                    <strong>היתרונות</strong> של מרזב העשוי מאבץ באים לידי ביטוי במראה, בעמידות ובגמישות של חומר זה.

                    <strong> החיסרון </strong> הוא שההתקנה שלהם חייבת להיות על תשתית מתאימה אשר תתמוך בהם לאורך השנים.
                </p>
            </div>
            <div class="text-home col-md-offset-0 col-md-4 col-xs-8 col-xs-offset-2">
                <h3>אלומניום</h3>
                <p>כאן מדובר על מרזב העשויים מחומר קל משקל ונוח לעיצוב.
                    אלו מיוצרים במפעל ומותקנים אצל הלקוח כיחידה אחת. מלבד קלות העיצוב,
                    המשקל של האלומיניום ועצם זה שהם אינם מחלידים,
                    ניתן להזמין מרזבים אלו בשלל צבעים,
                    העלות שלהם נמוכה וההתאמה לצרכי הלקוח הינה מדויקת.

                </p>
            </div>
            <div class="text-home col-md-offset-0 col-md-4 col-xs-8 col-xs-offset-2">
                <h3>נחושת</h3>
                <p>מרזב זה יעניק לביתכם נופך עיצובי מרשים ביותר.

                    אלו מיוצרים במפעל במגוון סגנונות (אותנטי עתיק ומאבץ מיושן) וניתן לבקש כי יוסיפו להם מגוון אלמנטים
                    כמו משפכים, ברכיים, קנטים מעוגלים ועוד.

                    עצם העובדה שחומר הנחושת הינו חומר עמיד, וכן כי ניתן להתאים אותו מבחינה סגנונית מושלמת לחלל בו המרזב
                    מותקן והיכולת לעבד את החומר בכל צורה הם אלו שהפכו את מרזבי הנחושת לכה פופולאריים.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2" style="direction: rtl;font-family: Alef">
                <h2>מי גשמים</h2>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-8 col-md-offset-2  col-xs-8 col-xs-offset-2 "
                     style="direction: rtl;font-size: 18px;font-family: Alef;text-align: justify">
                    <p>ארץ ישראל כידוע, ממוקמת במזרח התיכון, ולא מבורכת בגשמים.</p>
                    <p>למרות זאת מספיק גשם אחד רציני בכדי לעורר נזק משמעותי לבניין.</p>
                    <p>למרזבים יש תפקיד חשוב מאד בריכוז מי הגשמים מגג של בניין.
                    <p>
                    </p> המים שנאספים בגג המבנה יורדים לתוך תעלת המרזב ומתנקזים ביעילות.</p>
                    <p>המרזב הוא תעלה צרה שמהווה את המרכיב של כל מערכת הגג אשר אוספת מי גשמים ומסיטה אותם מגג הבית על
                        ידי ניקוז.</p>
                    <p>המטרה העיקרית של מרזב הגשם היא לאסוף את המים שנערמים על גג הבית ולפזר אותם בסופו של דבר מחוץ
                        לתחום הגג</p>
                    <p>וגם להגן על משטחים צבועים על ידי צמצום החשיפה למים.</p>
                    <p>מרזבים לגגות ניתן לבנות ממגוון של חומרים לרבות ברזל, עופרת, אבץ, פלדה, נחושת, אלומיניום, בטון
                        ועץ.</p>
                    <p>מערכות המרזב דורשות תחזוקה על מנת להבטיח הגנה על הבית שלך.</p>
                </div>
            </div>
        </div>
    </div>
</div>