<div class="row" style="height: 100px;"></div>
<div class="row">
    <div class="container">
        <h1>מרזבי אבץ</h1>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 pullDown text-category" >
            <p>אם אתם מעוניינים במראה ייחודי של מרזב המוסיף נפח</p>
            <p>עיצובי לביתכם, קרוב לוודאי שאתם מעוניינים במרזבים העשויים חומר אבץ.</p>
            <p> כאן מדובר במרזב עמיד אשר עשוי אבץ שעומד בתקנים מחמירים.</p>
            <p>היתרונות של מרזב העשוי מאבץ באים לידי ביטוי במראה, בעמידות ובגמישות של חומר זה.</p>
            <p>החיסרון הוא שההתקנה שלהם חייבת להיות על תשתית מתאימה אשר תתמוך בהם לאורך השנים.</p>
        </div>
    </div>
</div>
<div class="row pullDown">
    <div class="container">
        <slick-carousel ng-if="slides"
                        data-type="categories"
                        data-autoplay="true"
                        data-slides="4"
                        data-model="slides"
                        data-index="1">
        </slick-carousel>
        <!--<div class="col-md-3 col-xs-6 col-sm-4" ng-repeat="slide in slides track by $index" index="$index">-->
            <!--<img alt="מרזבי אבץ" title="מרזבי אבץ" class="img" ng-src="{{slide.image}}" style="max-width: 100%; height: auto ;padding: 5px;border-radius: 5%">-->
        <!--</div>-->
    </div>
</div>
