<div class="row" style="height: 100px;"></div>
<div class="row">
    <div class="container">
        <h1>ציפוי לארגז רוח</h1>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 pullDown text-category" >
            <p>ציפוי העשוי מאלומיניום, שעובר תהליך מיוחד של צביעה בתנור המקנה לו עמידות
                לאורך
                זמן.</p>
            <p> התאמה מקסימלית לגודל וצורת הארגז ע"י מכונת כיפוף מקצועית בבית הלקוח.</p>
            <p>הציפויים מגיעים בצבעים שונים.</p>
            <p>הציפוי אוטם את ארגז הרוח בצורה מושלמת ובכך חוסך את הצורך בתחזוקה של ארגז
                הרוח.</p>
        </div>
    </div>
</div>
<div class="row pullDown">
    <div class="container">
        <slick-carousel ng-if="slides"
                        data-type="categories"
                        data-autoplay="true"
                        data-slides="4"
                        data-model="slides"
                        data-index="1">
        </slick-carousel>
        <!--<div class="col-md-3 col-xs-6 col-sm-4" ng-repeat="slide in slides track by $index" index="$index">-->
            <!--<img title="ציפוי לארגז רוח" alt="ציפוי לארגז רוח" class="img" ng-src="{{slide.image}}" style="max-width: 100%; height: auto;padding: 5px;border-radius: 5%">-->
        <!--</div>-->
    </div>
</div>
